@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
.about-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.right-section {
  width: 66.67%;
  background-color: #130219;
  display: flex;
  flex-direction: column;
}

.left-section {
  width: 33.33%;
  background: url("/src/assets/Celebrities Looks.jpeg") no-repeat center center;
  background-size: cover;
}

.tag a svg {
  text-decoration: none; /* Remove underline from the link */
  position: relative;
  top: 50px;
  left: 300px;
  color: #130219;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out; /* Smooth transitions */
}

.tag a:hover svg {
  transform: scale(1.5);
  color: #280b33;
}
