@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
.contact-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.right-section {
  width: 66.67%;
  background-color: #130219;
  display: flex;
  flex-direction: column;
}

.left-section {
  width: 33.33%;
  background: url("/src/assets/Celebrities Looks.jpeg") no-repeat center center;
  background-size: cover;
}

.top-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 10px;
  position: relative;
  left: 330px;
  width: 50%;
}
.name1 {
  font-family: "Italianno", cursive;
  font-weight: bold;
  font-style: normal;
  font-size: 58px;
  margin: 0 auto;
  position: fixed;
  left: 70px;
  bottom: 345px;
}
.subscribe-btn {
  position: relative;
  top: 20px;
  background-color: transparent;
  color: #f3f3f3;
  border: 2px solid #ebebeb;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}

.subscribe-btn:hover {
  background-color: #ffffff;
  color: #130219;
}

.social-icons1 {
  display: flex;
  gap: 40px;
  position: relative;
  right: 15px;
  top: 22px;
}

.social-icons1 svg {
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.social-icons1 svg:hover {
  transform: scale(1.5);
}

.tag a svg {
  text-decoration: none; /* Remove underline from the link */
  position: relative;
  top: 50px;
  left: 300px;
  color: #130219;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out; /* Smooth transitions */
}

.tag a:hover svg {
  transform: scale(1.5);
  color: #280b33;
}

.contact_block {
  display: flex;
  flex-direction: row;
  
  margin-top: 80px; /* Adjust margin as needed */
  gap: 20px;
  margin-left: 80px;
  align-items: center;
 
}

.line {
  width: 25%; /* Adjust width as needed */
  height: 3px; /* Adjust height as needed */
  background-color: rgb(169, 112, 187);
  margin-bottom: 20px; /* Gap between the line and the text */
  position: relative;
  top: 15px;
}
.line2 {
    width: 25%; /* Adjust width as needed */
    height: 3px; /* Adjust height as needed */
    background-color: rgb(169, 112, 187);
    margin-bottom: 20px; /* Gap between the line and the text */
    position: relative;
    top: 15px;
  }

.section_subtitle {
  font-size: 20px; /* Adjust font size as needed */
  color: #dd80dd; /* Adjust color as needed */
}

.section_block {
   position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 80px; /* Adjust margin as needed */
  gap: 20px;
  right: 220px;


}
.section_title{
    font-size: 2rem; /* Adjust font size as needed */
 margin-left: 80px;

}

.contact_line{

  
  
}