.hero-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.left-section {
  width: 33.33%;
  background: url("/src/assets/Celebrities Looks.jpeg") no-repeat center center;
  background-size: cover;
  
}

.right-section {
  width: 66.67%;
  background-color: #130219;
  display: flex;
  flex-direction: column;
}

.top-nav1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin: 10px;
  position: relative;
  left: 15px;
  width: 50%;
}

.subscribe-btn {
  position: relative;
  top: 20px;
  background-color: transparent;
  color: #f3f3f3;
  border: 2px solid #ebebeb;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}

.subscribe-btn:hover {
  background-color: #ffffff;
  color: #130219;
}

.social-icons {
  display: flex;
  gap: 40px;
  position: relative;
  left: 15px;
  top: 22px;
}

.social-icons svg {
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.social-icons svg:hover {
  transform: scale(1.5);
}
.content-section {
  display: flex;
  flex-grow: 1;
  position: relative;
    bottom: 70px;
}

.vertical-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 20px;
  margin-left: 50px;
  position: relative;
  top: 50px;
}

.vertical-links a {
  color: #fff;
  text-decoration: none;
  font-size: 50px;
  margin-bottom: 5px;
  transition: color 0.3s ease;
  text-align: left;
  width: 50px;
  padding: 0.2px;
}

.vertical-links a:hover {
  color: #761f88;
}

.other-content {
  text-align: right;
  position: relative;
  top: 120px;
  color: gray;
}

.other-content p {
  margin: 0;
  padding: 10px 35px;
}

.other-content a {
  text-decoration: none;
  position: relative;
  color: gray;
}

.other-content a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #d1a6da;
  transition: width 0.5s ease-in-out;
}

.other-content a:hover {
  color: rgb(255, 255, 255);
  background: none;
}

.other-content a:hover::after {
  width: 100%;
}

.tag {
  text-align: center;
  color: rgb(223, 213, 213);
  padding-left: 70px;
  margin-bottom: 8px;
  font-size:x-small;
  text-align: left;  
}
