@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mansalva&family=Permanent+Marker&display=swap");

.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  z-index: 100;
  
}

.right-section1 {
  width: 66.67%;
  height: 100vh;
  background-color: #1302198c;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px;
}
.left-section {
  width: 33.33%;
}
.head_line {
  position: absolute;
  top: 4vh;
  width: 65vw;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.title {
  font-family: "Mansalva", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 5vh;
}

.title_block {
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 10vh;
  gap: 5px;
}
.title_block h1 {
  font-size: 5vh;
  font-weight: bold;
  align-items: center;
}
.house {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  height: 400vh;
}

.info-box-container {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(200px, auto);
  justify-content: space-around;
  width: 50vw;
  margin-bottom: 20px;
}

.home_block {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  top: 8vh;
  align-items: center;
}

.splide {
  position: relative;
  bottom: 1vh;
  height: 100vh;
}

.slides .slide1 {
  position: relative;
  top: 20vh;
  width: 30vw;
  height: 50vh;
  transform-origin: center;
}

.slides .slide2 {
  position: relative;
  top: 40vh;
  left: 4vw;
  width: 25vw;
  height: auto;
  max-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-video {
  position: relative;
  top: 8vh;
  width: 90%;
  height: 90vh;
  object-fit: cover;
  border-radius: 8px;
}

.slides .slide3 {
  position: relative;
  top: 20vh;
  left: 4vw;
  width: 25vw;
  height: 100vh;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.slides .slide4 {
  position: relative;
  top: 5vh;
  width: 30vw;
  height: 80vh;
  object-fit: cover;
  border-radius: 10%;
}
.slides h2 {
  font-family: "Italianno", cursive;
  position: relative;
  top: 35vh;
  left: 4vw;
  font-size: 10vh;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  border: solid 5px #ffffff;
  width: 25vw;
}
.slides h3 {
  position: relative;
  top: 45vh;
  font-size: 5vh;
  font-style: italic;
  font-weight: bold;
}

@media (min-width: 1600px) {
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 3vh;
  }
  p {
    font-size: 1.2rem;
  }
  h1 {
    position: relative;
    top: 2vh;
    font-size: 2.5rem;
  }
}

@media (min-width: 1600px) {
  .title_block {
    top: 12vh;
  }
  .title_block h1 {
    font-size: 4vh;
    font-weight: bold;
  }
  .house {
    top: 15vh;
  }

  .info-number {
    font-size: 3.5rem;
    font-weight: bold;
  }

  .info-text {
    font-size: 1.4rem;
  }
}
