@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
.home-container {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
}

.right-section {
  width: 66.67%;
  background-color: #130219;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
.left-section1{
  width: 33.33%;
  background-size: cover;
  overflow-y: hidden;

}
.left-section1 img{
  width: 100%;
  min-height: 100vh;
  object-fit:inherit;
  position: relative;
  bottom: 40px;
}

.subscribe-btn {
  position: relative;
  top: 20px;
  background-color: transparent;
  color: #f3f3f3;
  border: 2px solid #ebebeb;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 30px;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.8);
}

.subscribe-btn:hover {
  background-color: #ffffff;
  color: #130219;
}

h1{
  text-align: center; 
}
.house {
  position: relative;
  top:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  height: 300px;
}

.info-box-container {
  display: grid;
  grid-auto-flow: row; /* Changed from 'column' to 'row' */
  grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
  grid-auto-rows: minmax(100px, auto);
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; /* Add horizontal space between info boxes */
  background-color: rgba(255, 255, 255, 0.1); /* Slightly transparent background for the info boxes */
  padding: 10px;
  border-radius: 10px; /* Optional: add rounded corners */
}
.info-number {
  font-size: 2rem;
  font-weight: bold;
}

.info-text {
  font-size: 1rem;
}

.download-cv {
  margin-top: 20px;
}

.download-button {
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 20px; /* Add space above the button */
}

.download-button .arrow {
  margin-right: 10px;
  font-size: 1.5rem;
}
.home_block {
  display: grid;
  grid-auto-flow: row; /* Changed from 'column' to 'row' */
  grid-template-columns: repeat(1, 1fr); /* Creates 2 columns */
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  top: 80px;
  align-items: center;
}



.title_block {
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 55px; 
  gap: 5px;
}
.title_block h1{
  font-size: 2rem;
  font-weight: bold;
  
}
.title {
  font-size: 1.8rem;
  margin-left: 20px;
  align-items: center;
}

.head_line {
  position: absolute;
  top: 20px; 
  width: 100%; 
  display: flex;
  justify-content: center;
  gap: 20px;
}

