@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
.home-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow-y: hidden;
  z-index: 100;
  background-image: url(/src/assets/jj.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.right-section1 {
  width: 66.67%;
  height: 100vh;
  background-color: #1302198c;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 10px;
}
.left-section {
    width: 33.33%;
  }
.head_line {
  position: absolute;
  top: 4vh; 
  width: 65vw; 
  display: flex;
  justify-content: center;
  gap: 20px;
}


.title_block {
  position: relative;
  flex-direction: column;
  align-items: center;
  top: 10vh; 
  gap: 5px;
}
.title_block h1{
  font-size: 5vh;
  font-weight: bold;
  align-items: center;
}
.house {
  position: relative;
  top:10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 20px;
  height: 400vh;
}

.info-box-container {
  display: grid;
  grid-auto-flow: row; 
  grid-template-columns: repeat(2, 1fr); 
  grid-auto-rows: minmax(100px, auto);
  justify-content: space-around;
  width: 60vw;
  margin-bottom: 20px;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px; 
  background-color: rgba(159, 67, 196, 0.281); 
  padding: 10px;
  border-radius: 10px; 
}
.info-number {
  font-size: 2rem;
  font-weight: bold;
}

.info-text {
  font-size: 1rem;
}

.home_block {
  display: grid;
  grid-auto-flow: row; 
  grid-template-columns: repeat(1, 1fr); 
  grid-auto-rows: minmax(100px, auto);
  position: relative;
  top: 8vh;
  align-items: center;
}





@media (min-width: 1600px) {
  .title_block{
    top: 12vh;
  }
  .title_block h1{
    font-size: 4vh;
    font-weight: bold;
  }
  .house {
    top: 15vh;
  }

  .info-number {
    font-size: 3.5rem;
    font-weight: bold;
  }
  
  .info-text {
    font-size: 1.4rem;
  }

}




h3 {
  color: #ccd6f6;
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
}
h5 {
  color: #ccd6f6;
  margin: 0 0 0.5rem;
  font-size: 3vh;
  font-style: italic;
}

h4 {
  color: #64ffda;
  margin: 0 0 1rem;
  font-size: 1rem;
}




.skills {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.skills strong {
  color: #ccd6f6;
}
.splide {
  position: relative;
  bottom: 2vh;
  height: 100vh;
}

.slides .slide1{
  position: relative;
  top: 30vh;
  width: 25vw;
  height: auto;
  max-height: 70vh;
}


.slides .slide2 {
  position: relative;
  top: 40vh;
  left: 4vw;
  width: 25vw;
  height: auto;
  max-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides .slide3 {
  position: relative;
  top: 45vh;
  left: 4vw;
  width: 25vw;
  height: auto;
  max-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides .slide4 {
  position: relative;
  width: 20vw;
  height: 100vh;
  object-fit: contain;
  
}
.slides h2 {
  font-family: "Italianno", cursive;
  position: relative;
  top: 35vh;
  left: 4vw;
  font-size: 10vh;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  border: solid 5px #ffffff;
  width: 25vw;
}
.slides h3 {
  position: relative;
  top: 45vh;
  font-size: 5vh;
  font-style: italic;
  font-weight: bold;
}


@media (min-width: 1600px) {
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 3vh;
  }
  p {
    font-size: 1.2rem;
  }
  h1 {
    position: relative;
    top: 2vh;
    font-size: 2.5rem;
  }
}




  

  
 
  
 
  

  


  

 
  



 
 

 