.head_line {
    position: absolute;
    margin-top: 2vh;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
.line {
    width: 7vw; /* Adjust width as needed */
    height: 0.5vh; /* Adjust height as needed */
    background-color: rgb(169, 112, 187);
    margin-bottom: 20px; /* Gap between the line and the text */
    position: relative;
    top: 15px;
  }
  .line2 {
    width: 7vw; /* Adjust width as needed */
    height: 0.5vh; /* Adjust height as needed */
    background-color: rgb(169, 112, 187);
    margin-bottom: 20px; /* Gap between the line and the text */
    position: relative;
    top: 15px;
  }
  .section_subtitle {
    font-size: 1.6vw; /* Adjust font size as needed */
    color: #dd80dd; /* Adjust color as needed */
  }
  /* Responsive Design - Media Queries */

/* Larger screens, increase the space of the right section */
@media (min-width: 1600px) {
  .head_line{
    margin-top: 5vh;
  }
  .line {
    width: 9vw;
    height: 0.3vh;
  }
  .line2 {
    width: 9vw;
    height: 0.3vh;
  }

  .section_subtitle {
    font-size: 1.5vw;
    position: relative;
    bottom: 0.5vh;
  }

}