@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
.portfolio-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.right-section {
  width: 66.67%;
  background-color: #130219;
  display: flex;
  flex-direction: column;
}

.left-section {
  width: 33.33%;
  background: url("/src/assets/Celebrities Looks.jpeg") no-repeat center center;
  background-size: cover;
}

.portfolio {
  background-color: #1e1e1e;
  color: white;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.project-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.project-card {
  background-color: #2a2a2a;
  border-radius: 10px;
  padding: 1.5rem;
  width: 30%;
  text-align: center;
}

.project-icon {
  font-size: 3rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #cccccc;
}

.vertical-line {
  width: 1px;
  background-color: #444;
  margin: 0 1rem;
}

@media (max-width: 768px) {
  .project-container {
    flex-direction: column;
  }

  .project-card {
    width: 100%;
    margin-bottom: 1rem;
  }

  .vertical-line {
    display: none;
  }
}


